<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="create-blog content">
        <h2>About Us</h2>
        <p>Lorem</p>
        <p>Lorem</p>
        <p>Lorem</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>